[submodule "cppPractiseSamples/CppAdventureExamples"]
	path = cppPractiseSamples/CppAdventureExamples
	url = https://github.com/xmementoit/CppAdventureExamples
[submodule "csharpPractiseSamples/CSharpAdventureExamples"]
	path = csharpPractiseSamples/CSharpAdventureExamples
	url = https://github.com/xmementoit/CSharpAdventureExamples
[submodule "cppPractiseSamples/MJPEGDecoder"]
	path = cppPractiseSamples/MJPEGDecoder
	url = https://github.com/xmementoit/MJPEGDecoder
[submodule "cppPractiseSamples/tddCppSkeleton"]
	path = cppPractiseSamples/tddCppSkeleton
	url = https://github.com/xmementoit/tddCppSkeleton
