[submodule "cppPractiseSamples/CppAdventureExamples"]
	path = cppPractiseSamples/CppAdventureExamples
	url = https://github.com/xmementoit/CppAdventureExamples
[submodule "csharpPractiseSamples/CSharpAdventureExamples"]
	path = csharpPractiseSamples/CSharpAdventureExamples
	url = https://github.com/xmementoit/CSharpAdventureExamples
[submodule "cppPractiseSamples/MJPEGDecoder"]
	path = cppPractiseSamples/MJPEGDecoder
	url = https://github.com/xmementoit/MJPEGDecoder
[submodule "cppPractiseSamples/tddCppSkeleton"]
	path = cppPractiseSamples/tddCppSkeleton
	url = https://github.com/xmementoit/tddCppSkeleton
[submodule "dockerPracticeSamples/dockerTestWebApp"]
	path = dockerPracticeSamples/dockerTestWebApp
	url = git@github.com:xmementoit/dockerTestWebApp
[submodule "dockerPracticeSamples/docker-puppet"]
	path = dockerPracticeSamples/docker-puppet
	url = https://github.com/xmementoit/docker-puppet
[submodule "webrtcPracticeSamples/webcam-to-server-side-frames"]
	path = webrtcPracticeSamples/webcam-to-server-side-frames
	url = https://github.com/xmementoit/webcam-to-server-side-frames
[submodule "dockerPracticeSamples/docker-puppet-multiple-os-test"]
	path = dockerPracticeSamples/docker-puppet-multiple-os-test
	url = https://github.com/xmementoit/docker-puppet-multiple-os-test
[submodule "concourse-tutorial"]
	path = concourse-tutorial
	url = https://github.com/starkandwayne/concourse-tutorial.git
