[submodule "cppPractiseSamples/CppAdventureExamples"]
	path = cpp/CppAdventureExamples
	url = https://github.com/xmementoit/CppAdventureExamples
[submodule "csharpPractiseSamples/CSharpAdventureExamples"]
	path = csharp/CSharpAdventureExamples
	url = https://github.com/xmementoit/CSharpAdventureExamples
[submodule "cppPractiseSamples/MJPEGDecoder"]
	path = cpp/MJPEGDecoder
	url = https://github.com/xmementoit/MJPEGDecoder
[submodule "cppPractiseSamples/tddCppSkeleton"]
	path = cpp/tddCppSkeleton
	url = https://github.com/xmementoit/tddCppSkeleton
[submodule "dockerPracticeSamples/dockerTestWebApp"]
	path = docker/dockerTestWebApp
	url = git@github.com:xmementoit/dockerTestWebApp
[submodule "dockerPracticeSamples/docker-puppet"]
	path = docker/docker-puppet
	url = https://github.com/xmementoit/docker-puppet
[submodule "webrtcPracticeSamples/webcam-to-server-side-frames"]
	path = webrtc/webcam-to-server-side-frames
	url = https://github.com/xmementoit/webcam-to-server-side-frames
[submodule "dockerPracticeSamples/docker-puppet-multiple-os-test"]
	path = docker/docker-puppet-multiple-os-test
	url = https://github.com/xmementoit/docker-puppet-multiple-os-test
[submodule "concourse-tutorial"]
	path = concourse-tutorial
	url = https://github.com/starkandwayne/concourse-tutorial.git
[submodule "flaskPracticeSamples/flask_helloworld"]
	path = flask/flask_helloworld
	url = git@github.com:xmementoit/flask_helloworld.git
