<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Sample Servlet Example</display-name>
  
  
  <servlet>
  	<servlet-name>FirstServlet</servlet-name>
  	<display-name>FirstServlet</display-name>
  	<description>Test GET, POST methods of Servlet</description>
  	<servlet-class>com.test.servlet.FirstServlet</servlet-class>
  	<!--Un-comment  below line if you want to instantiate and initialize the servlet during the servlet-container(tomcat) startup-->
  	<!-- <load-on-startup>1</load-on-startup> -->
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>FirstServlet</servlet-name>
  	<url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  	<servlet-name>TestSessionServlet</servlet-name>
  	<display-name>TestSessionServlet</display-name>
  	<description>Test session</description>
  	<servlet-class>com.test.servlet.TestSessionServlet</servlet-class>
  	<!--Un-comment  below line if you want to instantiate and initialize the servlet during the servlet-container(tomcat) startup-->
  	<!-- <load-on-startup>1</load-on-startup> -->
  </servlet>

  <servlet-mapping>
  	<servlet-name>TestSessionServlet</servlet-name>
  	<url-pattern>/TestSessionServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description>Logout from session</description>
  	<servlet-class>com.test.servlet.LogoutServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>TestDataPlaceHolderServlet</servlet-name>
  	<display-name>TestDataPlaceHolderServlet</display-name>
  	<description>Test data stored in request, session and servlet context</description>
  	<servlet-class>com.test.servlet.TestDataPlaceHolderServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>TestDataPlaceHolderServlet</servlet-name>
  	<url-pattern>/testDataPlaceHolderServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  	<servlet-name>DataPlaceHolderServlet</servlet-name>
  	<display-name>DataPlaceHolderServlet</display-name>
  	<description>Store data in request, session and servlet context</description>
  	<servlet-class>com.test.servlet.DataPlaceHolderServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>DataPlaceHolderServlet</servlet-name>
  	<url-pattern>/DataPlaceHolderServlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>
